@font-face {
	font-family: 'ocean-icons';
	src: url('../fonts/ocean-icons.woff2?17288107') format('woff2'),
		  url('../fonts/ocean-icons.woff?17288107') format('woff');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: "ocean-icons";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	text-align: center;

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1;

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-users:before { content: '\e800'; }
.icon-globe:before { content: '\e801'; }
.icon-twitter:before { content: '\f099'; }
.icon-facebook:before { content: '\f09a'; }
.icon-gplus:before { content: '\f0d5'; }
.icon-linkedin:before { content: '\f0e1'; }
.icon-behance:before { content: '\f1b4'; }
.icon-chart-line:before { content: '\f201'; }
.icon-mixcloud:before { content: '\f289'; }
