/* =========================================================
	BASE
	========================================================= */

/* VARIABLES */

:root {
	--base-font-family: "Open Sans", Helvetica, Arial, sans-serif;
	--base-font-size: 19px;
}

/* SETUP */

html {
	font-size: 16px;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: var(--base-font-family);
	font-size: var(--base-font-size);
	color:;
	background-color: #fff;
}

img {
	max-width: 100%;
}

p {
	font-weight: 300;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	color: #81b4eb;
	text-decoration: none;
}

a:hover {
	color: #014c8c;
}

textarea {
	resize: none;
}

/* =========================================================
	MODULE
	========================================================= */

/* =========================================================
	LAYOUT
	========================================================= */
