/* =========================================================
	BASE
	========================================================= */

/* VARIABLES */

:root {
	--base-font-family: "Open Sans", Helvetica, Arial, sans-serif;
	--base-font-size: 19px;
}

/* SETUP */

html {
	font-size: 16px;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: var(--base-font-family);
	font-size: var(--base-font-size);
	color: #373a3c;
	background-color: #fff;
}

img {
	max-width: 100%;
}

h1,
h2,
h3 {
	font-weight: 400;
}

p {
	font-weight: 300;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	color: #81b4eb;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #014c8c;
}

textarea {
	resize: none;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.copyright {
	margin: 0;
	font-size: 1.3rem;
	line-height: 1.5;
	color: #999;
}

.divider {
	width: 65%;
	height: 1px;
	margin: 1rem auto;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.spacer {
	height: 600px;
}

/**
	.section__header,
	.tagline__group,
	.features__container,
	.contacts__container {
		margin: auto;
		padding-right: 15px;
		padding-left: 15px;
	}
*/

/* =========================================================
	MODULE
	========================================================= */

/* GRID */

.row {
	margin-right: -15px;
	margin-left: -15px;
	font-size: 0;
}

.col {
	display: inline-block;
	vertical-align: top;

	padding-right: 15px;
	padding-left: 15px;
	font-size: var(--base-font-size);
}

.col-3 {
	width: 25%;
}

.col-5 {
	width: 41.66667%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33333%;
}

.col-12 {
	width: 100%;
}

/* SLIDE GRID */

.slide-grid::after {
	content: '';
	display: table;
	clear: both;
}

.slide-grid:nth-of-type(odd) .slide-grid__item {
	float: right;
}

.slide-grid:nth-of-type(even) .slide-grid__item {
	float: left;
}

.slide-grid:nth-of-type(odd) .slide-grid__img {
	float: right;
}

.slide-grid:nth-of-type(even) .slide-grid__img {
	float: left;
}

.slide-grid__img-wrapper {
	width: 50%;
}

.slide-grid__content {
	width: 50%;
	padding: 125px 8% 0;
}

.slide-grid__title {
	margin-top: 0;
	margin-bottom: 5%;
	font-size: 1.9rem;
	font-weight: 300;
}

.slide-grid__paragraph {
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 1.4rem;
	line-height: 1.9;
}

/* BUTTON */

button.button {
	font-family: inherit;
	cursor: pointer;
}

a.button {
	text-decoration: none;
}

.button {
	display: inline-block;
	vertical-align: middle;

	padding: 0.8rem 3.5rem;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.5;
	color: #81b4eb;
	background-color: #fff;
	border: 2px solid #81b4eb;
	border-radius: 2.5rem;
	text-transform: capitalize;

	-webkit-transition: color .3s ease,
							  background-color .3s ease;
			  transition: color .3s ease,
							  background-color .3s ease;
}

.button:hover,
.button:focus {
	color: #fff;
	background-color: #81b4eb;
}

/* FORM CONTROL */

.form-control {
	display: block;
	width: 100%;
	padding: 0.75rem 1.75rem;
	font-family: inherit;
	font-weight: 300;
	font-size: 1.2rem;
	line-height: 1.5;
	color: #55595c;
	background-color: #fff;
	border: 1px solid #68a8e8;
	border-radius: 2.5rem;
}

.form-control:focus {
	border-color: #1768A9;
	outline: 0;
}

.form-control::-webkit-input-placeholder {
	color: #999;
}

.form-control:-ms-input-placeholder {
	color: #999;
}

.form-control::-moz-placeholder {
	opacity: 1;
}

.form-control::placeholder {
	color: #999;
}

/* CONTACT FORM */

.contact-form__form-control {
	margin-bottom: 15px;
}

.contact-form__button-wrapper {
	text-align: right;
}

.contact-form__message {
	padding-top: 1.15rem;
	padding-bottom: 1.15rem;
}

/* SLIDER */

:root {
	--slider-nav-dot-diameter: 20px;
}

.slider {
	position: relative;
	padding-bottom: 60px;
	z-index: 200;
}

.slider__item {
	display: none;
}

.slider__item_active {
	display: block;
}

.slider-nav {
	position: absolute;
	bottom: 10px;

	width: 100%;

	font-size: 0;
	text-align: center;
	z-index: 300;
}

.slider-nav__item {
	display: inline-block;
	vertical-align: top;
}

.slider-nav__item:not(:last-child) {
	margin-right: 20px;
}

.slider-nav__dot {
	display: inline-block;
	width: var(--slider-nav-dot-diameter);
	height: var(--slider-nav-dot-diameter);
	font-size: var(--base-font-size);
	background-color: #cdd7e2;
	border-radius: 50%;
}

.slider-nav__dot_active {
	background-color: #81b4eb;
}

/* SECTION */

.section {
	padding-top: 6rem;
	padding-bottom: 6rem;
	color: #373a3c;
}

.section__header {
	max-width: 730px;
	margin: auto;
	margin-bottom: 5rem;
	padding-right: 15px;
	padding-left: 15px;
	text-align: center;
}

.section__title {
	font-size: 2.1rem;
	margin-top: 0;
	margin-bottom: 1.8rem;
}

.section__desc {
	margin: 0;
	font-size: 1.4rem;
	line-height: 1.6;
}

/* SOCIALS */

:root {
	--social-icon-diameter: 40px;
}

.socials {
	font-size: 0;
}

.socials__item {
	display: inline-block;
	vertical-align: middle;

	text-align: center;
}

.socials__item:not(:last-child) {
	margin-right: 3%;
}

.socials__link {
	display: inline-block;

	width: var(--social-icon-diameter);
	height: var(--social-icon-diameter);
	line-height: var(--social-icon-diameter);

	font-size: var(--base-font-size);
	color: #81b4eb;
	background-color: #fff;
	border: 1px solid #81b4eb;
	border-radius: 50%;
	transition: all .3s ease;
}

.socials__link:hover,
.socials__link:focus {
	color: #fff;
	background-color: #81b4eb;
}


/* =========================================================
	LAYOUT
	========================================================= */

/* HERO */

.hero {
	height: 800px;
	padding-top: 210px;
	color: #fff;
	background: url(../img/bg-hero.jpg) #a1d0fe center top / 1900px 800px fixed no-repeat;
	text-align: center;
}

.hero__title {
	margin-top: 0;
	margin-bottom: 3.5rem;
	font-size: 4.5rem;
	text-transform: capitalize;
}

.hero__desc {
	margin: 0;
	font-size: 2rem;
	line-height: 1.5;
}

.hero__subtitle {
	text-transform: capitalize;
}

.hero__button-wrapper {
	margin-top: 4rem;
}

.hero__button {
	display: inline-block;
	vertical-align: middle;

	padding: 0.75rem 2.5rem;
	font-size: 2.4rem;
	font-weight: 300;
	line-height: 1.5;
	color: #a1c7f1;
	background-color: #fff;
	border-radius: 0.5rem;
	text-transform: capitalize;
	-webkit-transition: all .3s ease;
			  transition: all .3s ease;
}

.hero__button:hover,
.hero__button:focus {
	color: #fff;
	background-color: #a2d1ff;
}

/* TAGLINES */

.taglines {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #fff;
	text-align: center;
}

.tagline-group {
	max-width: 980px;
	margin: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.tagline__title {
	margin-top: 0;
	margin-bottom: 3rem;
	font-size: 2.1rem;
	font-weight: 300;
	color: #81b4eb;
}

.tagline__content {
	margin: 0;
	font-size: 1.3rem;
	line-height: 1.6;
	color: #666;
}

/* ARTICLES */

.articles {
	color: #81b4eb;
	background-color: #fff;
}

.article__button-wrapper {
	margin-top: 35px;
}

/* FEATURES */

.features {
	background-color: #b9d6f4;
}

.features__container {
	max-width: 1760px;
	margin: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.feature {
	max-width: 400px;
	margin: auto;
	padding: 3rem;
	background-color: #d3e6f8;
	border: 1px solid #fff;
}

.feature__icon {
	width: 100%;
	margin-bottom: 2rem;
	font-size: 5em;
	color: #81b4eb;
	text-align: center;
}

.feature__title {
	margin-top: 0;
	margin-bottom: 1.4rem;
	font-size: 1.75rem;
}

.feature__desc {
	margin: 0;
	line-height: 1.8;
}

/* CONTACTS */

.contacts__container {
	max-width: 1530px;
	margin: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.contact {
	padding-left: 3%;
}

.contact__title {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-size: 1.6rem;
	text-transform: capitalize;
}

.contact__info {
	margin-top: 0;
	margin-bottom: 5%;
	line-height: 1.8;
}

/* FOOTER */

.footer {
	padding-top: 3%;
	padding-bottom: 3%;
	text-align: center;
}
